<section class="container-painel-de-acesso">
  <div class="container-titulo-acesso">
    <h2>{{ isCadastro ? 'Crie sua conta' : 'Bem-vindo(a)!' }}</h2>
  </div>

  <div class="container-texto-acesso">
    <p>
      {{ isCadastro ? 'Preencha os dados abaixo para se cadastrar.' : 'Por favor, realize o login para continuar.' }}
    </p>
  </div>

  <!-- FORM começa aqui -->
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    
    <div class="container-acesso-interativo-login">

      <!-- Campo nome completo (só cadastro) -->
      <div class="container-input-username" *ngIf="isCadastro">
        <input type="text" placeholder="Nome completo" name="nomeCompleto" [(ngModel)]="nomeCompleto"
          class="input-user-name" required>
      </div>

      <!-- Campo email unificado para cadastro e login -->
      <div class="container-input-username">
        <input type="email" placeholder="E-mail" name="email" [(ngModel)]="email" class="input-user-name" required>
      </div>

      <!-- Campo senha comum -->
      <div class="container-input-password">
        <input type="password" placeholder="Password" name="password" [(ngModel)]="password" class="input-password"
          required>
      </div>

      <!-- Confirmação de senha (só cadastro) -->
      <div class="container-input-password" *ngIf="isCadastro">
        <input type="password" placeholder="Confirme o Password" name="confirmaSenha" [(ngModel)]="confirmaSenha"
          class="input-password" required>
      </div>
    </div>

    <!-- Botão -->
    <div class="container-botao-login">
      <button type="submit" class="botao-login">
        {{ isCadastro ? 'Cadastrar' : 'Login' }}
      </button>
    </div>
  </form>
  <!-- FORM termina aqui -->

  <!-- Alternar login/cadastro -->
  <div class="container-cadastro">
    <p *ngIf="!isCadastro">Não tem uma conta?
      <a (click)="toggleCadastro()" class="link-cadastro">Cadastre-se</a>
    </p>
    <p *ngIf="isCadastro">Já tem uma conta?
      <a (click)="toggleCadastro()" class="link-cadastro">Faça login</a>
    </p>
  </div>
</section>
