<section class="container-painel-de-acesso">
  <div class="container-titulo-acesso">
    <h2>Bem-vindo(a)!</h2>
  </div>

  <div class="container-texto-acesso">
    <p>Por favor, realize o login para continuar.</p>
  </div>

  <div class="container-acesso-interativo-login">
    <div class="container-input-username">
      <input type="text" placeholder="Username" class="input-user-name" required>
    </div>
    <div class="container-input-password">
      <input type="password" placeholder="Password" class="input-password" required>
    </div>
  </div>

  <div class="container-botao-login">
    <button type="submit" class="botao-login">Login</button>
  </div>
</section>