.container-barra-inicio {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding-top: 80px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.topBar {
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 80px;
    overflow: hidden;
    padding: 20px 64px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    background: #fff;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.container-titulo-inicio {
    flex: 1 0 0;
    color: #2946be;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.92px;
}

.container-logo img {
    height: 60px;
}

.container-espaco-navegacao {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.container-menu-navegacao {
    color: #134bc3;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.container-menu-pesquisa {
    display: flex;
    align-items: center;
}





.Btn-login-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(177, 51, 189, 0.199);
  background-color: #f2f3fc;
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: #134bc3;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #134bc3;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
.Btn-login-user:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.Btn-login-user:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
.Btn-login-user:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
.Btn-login-user:active {
  transform: translate(2px ,2px);
}