<!-- header  -->
<header class="container-barra-inicio">
    <div class="topBar">
        <div class="container-logo">
            <img src="../assets/logoPrincp.png" alt="Logo" class="logo" />
        </div>
        <div class="container-titulo-inicio">
            <h1>Admin</h1>
        </div>

        <nav class="container-espaco-navegacao">
            <a routerLink="/admin" class="container-menu-navegacao" routerLinkActive="active">Início</a>
            <a routerLink="/admin/pacientes" class="container-menu-navegacao" routerLinkActive="active">Pacientes</a>
            <a routerLink="/admin/agenda" class="container-menu-navegacao" routerLinkActive="active">Agenda</a>
            <a routerLink="/admin/duvidas" class="container-menu-navegacao" routerLinkActive="active">Dúvidas</a>
            <a routerLink="/admin/feedback" class="container-menu-navegacao" routerLinkActive="active">Feedback</a>
        </nav>

        
<button class="Btn-login-user" type="button" routerLink="/login" routerLinkActive="active">
<!-- imagem/icone em svg -->
    <div class="sign"><img src="assets/logoff.png" alt="icone-logoff"></div>
  
  <div class="text">LogOut</div>
</button>


    </div>
</header>