<!-- header  -->
<header class="container-barra-inicio">
    <div class="topBar">
        <div class="container-logo">
            <img src="../assets/logoPrincp.png" alt="Logo" class="logo" />
        </div>
        <div class="container-titulo-inicio">
            <h1>Admin</h1>
        </div>

        <nav class="container-espaco-navegacao">
            <a href="admin.html" class="container-menu-navegacao">Início</a>
            <a href="paciente.html" class="container-menu-navegacao">Pacientes</a>
            <a href="agenda.html" class="container-menu-navegacao">Agenda</a>
            <a href="duvidas.html" class="container-menu-navegacao">Registro de Dúvidas</a>
            <a href="feedback.html" class="container-menu-navegacao">Feedback</a>
        </nav>

        <div class="container-menu-pesquisa">
            <input type="text" class="input-pesquisa" placeholder="Pesquisar" />
        </div>
    </div>
</header>