<section id="depoimentos" class="container-meusPacientes">
    <div class="container-titulo-meusPacientes">
        <div class="titulo-meusPacientes">
            <p class="titulo-paciente">Meus Pacientes</p>
            <img class="Img-Borboleta" src="../assets/borboleta.png" alt="">
        </div>
    </div>
    <div class="container-comentariosCaixa">
        <div class="caixa1">
            <p class="text-comentarioCaixa">"Com a correria do trabalho, eu não conseguia encaixar terapia
                presencial na agenda. A consulta online foi a solução perfeita. Consigo manter a regularidade e
                percebo como isso tem melhorado minha forma de lidar com o estresse."</p>
            <div class="containerPessoa">
                <p class="nomePessoa">Ricardo M., 36 anos</p>
            </div>
        </div>
        <div class="caixa1">
            <p class="text-comentarioCaixa">"O que mais me marcou foi a forma como ela me trata com respeito e
                empatia. A delicadeza nas palavras e o cuidado com que conduz as conversas me ajudam a confiar
                no processo e em mim mesmo."</p>
            <div class="containerPessoa">
                <p class="nomePessoa">Larissa A., 22 anos</p>
            </div>
        </div>
        <div class="caixa1">
            <p class="text-comentarioCaixa">"No começo fiquei com receio de fazer terapia online, mas me
                surpreendi. É prático, confortável e me sinto super acolhida mesmo à distância. Minha terapeuta
                me ajuda muito a lidar com a ansiedade do dia a dia."</p>
            <div class="containerPessoa">
                <p class="nomePessoa">Julia F, 23 anos</p>
            </div>
        </div>
    </div>

</section>