<section id="sobre-terapia" class="container-sobreTerapia">

    <div class="container-titulo-terapia">
        <h1 class="titulo-terapia">Autocuidado</h1>
    </div>
    <div class="container-text-img">
        <div class="container-text-terapia">
            <p class="text-terapia">Fazer terapia é um ato de cuidado com a saúde mental e emocional.
                Ela ajuda a compreender melhor os próprios sentimentos, comportamentos e pensamentos, promovendo
                o autoconhecimento.
                No dia a dia, a terapia contribui para lidar com o estresse, ansiedade, conflitos e inseguranças
                de forma mais saudável.
                Além disso, fortalece a autoestima, melhora os relacionamentos e auxilia na tomada de decisões.
                Cuidar da mente é tão essencial quanto cuidar do corpo e a terapia é uma ferramenta poderosa
                nesse processo.</p>
        </div>
        <div class="container-img-autocuidado">
            <img class="img-autocuidado" src="../assets/autocuidado.png" alt="imag de autocuidado">
        </div>
    </div>

</section>