<!-- Início do cabeçalho (Header) -->
 
<header>
        <section class="container-barraMenu">

            <div class="container-logoMenu">
                <img src="../assets/logoPrincp.png" alt="Logotipo da Psicóloga Ana Vitória com uma borboleta">
                <h1 class="title-logo"> Ana Vitória Psicóloga</h1>
            </div>

            <nav class="container-menu">
                <span class="container-menu-texto-inicio"><a href="#">Início</a></span>
                <span class="container-menu-texto"><a href="#sobreTerapia">SobreTerapia</a></span>
                <span class="container-menu-texto-sobre-mim"><a href="#sobre-Mim">Sobre Mim</a></span>
                <span class="container-menu-texto"><a href="#depoimentos">Depoimentos</a></span>
                <span class="container-menu-texto"><a href="#duvidas">Dúvidas</a></span>
            </nav>


            <div class="container-area-login">
                <img class="icon-login-user " src="../assets/usuario.png" alt="Usuario">
                <a href="../docs/login.html"><button class="btn-login-user" type="button">Login</button></a>
            </div>

        </section>
    </header>