<main>
  <section class="container-agendamento">
    <section class="container-espaco-agendamento">
      <div class="container-espaco-total-sub">
        <div class="container-sub-menu">
          <div class="text-icone">
            <img class="icone-sub-menu" src="../assets/icone-agenda.png" alt="ícone de agenda" />
          </div>
          <div class="text-agenda-sub">
            <h1>Minha agenda</h1>
          </div>
          <div class="container-linha-separadora"></div>
        </div>
      </div>

      <section class="container-titulo-agendamento">
        <h1>Agendamento</h1>
      </section>

      <section class="pesquisar-pacientes">
        <input type="text" class="input-nome" placeholder="Pesquisar Paciente" />
      </section>

      <section class="container-botoes-envio">
        <button class="container-estilo-botao-confirmar">Pesquisar</button>
      </section>

      
    </section>
  </section>

  <section class="container-espaco-form">
    <div class="container-espaco-text-form">
      <div class="container-dupla-formulario">
        <div class="container-texto-solicitacao">
          <p class="texto-solicitacao">Nome</p>
          <input type="text" class="input-nome" placeholder="Digite o nome do paciente" />
          <p class="texto-obrigatorio">Obrigatório*</p>
        </div>
        <div class="container-texto-solicitacao">
          <p class="texto-solicitacao">Data</p>
          <input type="text" class="input-nome" placeholder="DD/MM/AAAA" />
          <p class="texto-obrigatorio">Obrigatório*</p>
        </div>
      </div>

      <div class="container-dupla-formulario">
        <div class="container-texto-solicitacao">
          <p class="texto-solicitacao">Plataforma</p>
          <input type="text" class="input-nome" placeholder="Zoom ou Meet" />
          <p class="texto-obrigatorio">Obrigatório*</p>
        </div>
        <div class="container-texto-solicitacao">
          <p class="texto-solicitacao">Link da reunião</p>
          <input type="text" class="input-nome" placeholder="Digite o link" />
          <p class="texto-obrigatorio">Obrigatório*</p>
        </div>
      </div>

      <section class="container-botoes-envio">
        <button class="container-estilo-botao-confirmar">Confirmar</button>
      </section>
    </div>
  </section>
</main>