.container-barratotal-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #FFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  width: 100%;
  box-sizing: border-box;
}

.conteudo-login-com-icone {
  display: flex;
  align-items: center;
  gap: 12px;
}


.container-emoji-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.container-emoji-admin img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.titulo-login {
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  margin-right: 12px;
  line-height: 36px;
}