//header 

header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

html {
  scroll-behavior: smooth;
}

.container-barraMenu {
  display: flex;
  width: 100%;
  max-width: 1312px;
  padding: 2px 14px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.container-logoMenu {
  display: flex;
  width: 222px;
  height: 72px;
  align-items: center;
  gap: 16px;
}

.title-logo {
  width: 119px;
  height: 30px;
  color: var(--PrimeiraCOR, #0F4C83);
  font-family: "Inria Serif";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 2.42px;
}

.container-menu {
  display: flex;
  height: 34px;
  width: 541px;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}

.container-menu-texto {
  display: flex;
  width: 60px;
  height: 34px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-menu-textoSobreMim {
  display: flex;
  width: 88px;
  height: 34px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-menu-texto-inicio {
  display: flex;
  width: 3px;
  height: 34px;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.container-menu-texto a,
.container-menu-texto-sobre-mim a,
.container-menu-texto-inicio a {
  color: var(--PrimeiraCOR, #0F4C83);
  text-shadow: 0px 4px 4px #2e6cf352;
  font-family: "Roboto";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}


.Btn-login-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(177, 51, 189, 0.199);
  background-color: #f2f3fc;
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}




.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #134bc3;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
.Btn-login-user:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.Btn-login-user:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
.Btn-login-user:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
.Btn-login-user:active {
  transform: translate(2px ,2px);
}