<!-- Início do conteúdo principal (Main) -->
<main>
    <section class="container-pagina-principal">
        <div class="container-acesso-opcoes">
            <div class="container-opcoes">
                <button class="opcoes-botao" (click)="navegarPara('pacientes')">Cadastro</button>
                <button class="opcoes-botao" (click)="navegarPara('agenda')">Agenda</button>
                <button class="opcoes-botao" (click)="navegarPara('feedback')">Feedback</button>
                <button class="opcoes-botao" (click)="navegarPara('duvidas')">Dúvidas</button>
            </div>
        </div>
    </section>
</main>