<section id="terapia-online" class="container-terapia-online">

    <div class="container-titulo-terapia-online">
        <h1 class="titulo-terapia-online">Terapia Online</h1>
    </div>

    <div class="container-text-img">
        <div class="container-text-terapia">
            <p class="texto-terapia-online">
                Eu realizo a terapia online com o objetivo de proporcionar um
                atendimento acolhedor e eficaz, respeitando as necessidades e
                o ritmo de cada paciente. Para mim, a terapia online é uma
                excelente ferramenta, pois oferece maior flexibilidade
                tanto para os pacientes quanto para mim. Durante as sessões,
                busco
                criar um ambiente seguro e
                empático, assim como faria em um consultório físico.
                A principal diferença é que, ao estarmos
                conectados digitalmente, posso atender de qualquer lugar e o paciente também, o que facilita o
                processo e proporciona mais conforto. Utilizo plataformas seguras para garantir a
                confidencialidade
                e a qualidade do atendimento, e tento sempre adaptar as abordagens terapêuticas para que a
                experiência seja tão proveitosa quanto a presencial.
                Para mim, o importante é estar atenta ao
                processo de cada paciente, oferecendo o suporte necessário, independentemente de estarmos no
                consultório ou online.
            </p>
        </div>

        <div class="container-area-fotoilustrativa">
            <img class="img-terapia-online" src="../assets/fotoilustrativaTerapia.png" alt="imag de terapia online">
        </div>
    </div>

</section>