<main>
    <div class="container-pagina">
        <section class="container-sub-menu">
            <div class="container-icone">
                <img src="/assets/icone-sub-menu.png" alt="Ícone" class="icone" />
            </div>
            <div class="container-texto-sub-menu">
                <h1>Meus Pacientes</h1>
            </div>
        </section>

        <section class="container-titulo-registropaciente">
            <h1 class="titulo-texto">Registro de pacientes</h1>
        </section>

        <form [formGroup]="pacienteForm" method="post" class="container-formulario">

            <!-- Campos Nome e Data de nascimento -->
            <div class="container-dupla-formulario">
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Nome</p>
                    <input formControlName="nome" type="text" class="input-nome" placeholder="Digite o nome completo" />
                    <p class="texto-obrigatorio">Obrigatório*</p>
                </div>
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Data de nascimento</p>
                    <input formControlName="data_nascimento" type="date" class="input-nome" id="data_nascimento"
                        name="data_nascimento" min="1990-01-01" max="2025-12-31" />
                    <p class="texto-obrigatorio">Obrigatório*</p>
                </div>
            </div>

            <!-- CPF e RG -->
            <div class="container-dupla-formulario">
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">CPF</p>
                    <input formControlName="cpf" type="text" class="input-nome" placeholder="Digite sem pontuações" />
                    <p class="texto-obrigatorio">Obrigatório*</p>
                </div>
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">RG</p>
                    <input formControlName="rg" type="text" class="input-nome" placeholder="Digite sem pontuações" />
                    <p class="texto-obrigatorio">Obrigatório*</p>
                </div>
            </div>

            <!-- Contato e Email -->
            <div class="container-dupla-formulario">
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Número de contato</p>
                    <input formControlName="numero_contato" type="text" class="input-nome"
                        placeholder="Digite um telefone" />
                    <p class="texto-obrigatorio">Obrigatório*</p>
                </div>
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Email</p>
                    <input formControlName="email" type="text" class="input-nome" placeholder="Digite um email" />
                    <p class="texto-obrigatorio">Obrigatório*</p>
                </div>
            </div>

            <!-- Gênero e Pagamento -->
            <div class="container-dupla-formulario">
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Gênero</p>
                    <div class="container-espaco-botao">
                        <button class="container-estilo-botao">Masculino</button>
                        <button class="container-estilo-botao">Feminino</button>
                        <button class="container-estilo-botao">Outro</button>
                        <input formControlName="genero" type="text" type="text">
                        <p class="texto-obrigatorio">Obrigatório*</p>
                    </div>
                </div>
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Preferência de pagamento</p>
                    <div class="container-espaco-botao">
                        <button class="container-estilo-botao">Mensal</button>
                        <button class="container-estilo-botao">Semanal</button>
                        <input formControlName="preferencia_pagamento" type="text">
                        <p class="texto-obrigatorio">Obrigatório*</p>
                    </div>
                </div>
            </div>



            <!-- Profissão e CEP -->
            <div class="container-dupla-formulario">
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Profissão</p>
                    <input formControlName="profissao" type="text" class="input-nome" placeholder="Digite aqui" />
                    <p class="texto-obrigatorio">Opcional*</p>
                </div>
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">CEP</p>
                    <input formControlName="cep" type="text" class="input-nome" placeholder="Digite sem pontuações" />
                    <p class="texto-obrigatorio">Obrigatório*</p>
                </div>
            </div>

            <!-- Motivo e Horário -->
            <div class="container-dupla-formulario">
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Motivo de contato</p>
                    <div class="container-espaco-botao">
                        <button class="container-estilo-botao">Ansiedade</button>
                        <button class="container-estilo-botao">Depressão</button>
                        <button class="container-estilo-botao">Estresse</button>
                        <button class="container-estilo-botao">Relacionamento</button>
                        <button class="container-estilo-botao">
                            Auto-conhecimento
                        </button>
                        <input formControlName="motivo_contato" type="text" name="motivo_contato" id="motivo_contato">
                        <p class="texto-obrigatorio">Obrigatório*</p>
                    </div>
                    <input type="text" class="input-nome" placeholder="Outro? Digite aqui..." />
                </div>

                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Horário de atendimento</p>
                    <div class="container-espaco-botao">
                        <button class="container-estilo-botao">Manhã</button>
                        <button class="container-estilo-botao">Tarde</button>
                        <button class="container-estilo-botao">Noite</button>
                        <button class="container-estilo-botao">Indiferente</button>
                        <p class="texto-obrigatorio">Obrigatório*</p>
                        <input formControlName="horario_atendimento" type="text" name="horario_atendimento"
                            id="horario_atendimento">
                    </div>
                </div>
            </div>

            <!-- Origem e Emergência -->
            <div class="container-dupla-formulario">
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Como conheceu esse serviço</p>
                    <div class="container-espaco-botao">
                        <button class="container-estilo-botao">Indicação</button>
                        <button class="container-estilo-botao">Rede social</button>
                        <button class="container-estilo-botao">Google</button>
                        <button class="container-estilo-botao">Outro</button>
                        <p class="texto-obrigatorio">Obrigatório*</p>
                        <input formControlName="conheceu_servico" type="text" name="conheceu_servico"
                            id="conheceu_servico">
                    </div>
                </div>
                <div class="container-texto-solicitacao">
                    <p class="texto-solicitacao">Contato de emergência</p>
                    <input formControlName="contato_emergencia" type="text" class="input-nome"
                        placeholder="Digite um número de telefone" />
                    <p class="texto-obrigatorio">Obrigatório*</p>
                </div>
            </div>

        </form>

        <section class="container-botoes-envio">

            <button type="button" class="container-estilo-botao-editar">Editar</button>
            <button type="submit" class="container-estilo-botao-registrar"
                (click)="registrarPaciente()">Registrar</button>

        </section>

        <section class="container-tabela-pacientes">
            <div class="container-texto-sub-menu" style="width: 100%; justify-content: flex-start;">
                <h1>Lista de Pacientes</h1>
            </div>

            <div class="tabela-wrapper">
                <table class="tabela-pacientes">
                    <thead>
                        <tr class="cabecalho-tabela">
                            <th class="coluna-checkbox">
                                <input type="checkbox" id="selecionar-todos">
                            </th>
                            <th class="coluna-paciente">Paciente</th>
                            <th class="coluna-id">ID</th>
                            <!-- <th class="coluna-nome">Nome</th> -->
                            <th class="coluna-email">Email</th>
                            <th class="coluna-cpf">CPF</th>
                            <th class="coluna-celular">Celular</th>
                            <th class="coluna-acoes">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of pacienteData; track item.id) {
                        <tr class="linha-tabela">
                            <td class="coluna-checkbox">
                                <input type="checkbox" name="checkbox-pacientes">
                            </td>
                            <td class="coluna-paciente">
                                <div class="container-user">
                                    <img src="../assets/usuario.png" alt="avatar do usuário">
                                    <div>
                                        <p>{{item.nome}}</p>
                                        <!-- <p class="email">{{item.email}}</p> -->
                                    </div>
                                </div>
                            </td>
                            <td class="coluna-id">{{item.id}}</td>
                            <!-- <td class="coluna-nome">{{item.nome}}</td> -->
                            <td class="coluna-email">{{item.email}}</td>
                            <td class="coluna-cpf">{{item.cpf}}</td>
                            <td class="coluna-numero_contato">{{item.numero_contato}}</td>
                            <td class="coluna-acoes">
                                <button class="container-estilo-botao-editar" style="width: auto; padding: 4px 8px;">
                                    edit </button>
                                <button class="botao-deletar" style="width: auto; padding: 4px 8px; background: #dc3545"
                                    (click)="deletePaciente(item.id)">Deletar</button>

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>

    </div>
</main>