<main>
    <section class="container-feedback">
        <section class="container-espaco-agendamento">
            <div class="container-sub-menu">
                <div class="text-icone">
                    <img class="icone-sub-menu" src="../images/iconFeedback.svg" alt="ícone de agenda" />
                </div>
                <div class="text-agenda-sub">
                    <h1>Gerenciamento</h1>
                </div>
                <div class="container-linha-separadora"></div>
            </div>
            <section class="container-titulo-agendamento">
                <h1>Registro de Feedback</h1>
            </section>
        </section>
    </section>

    <!-- form da pagina  -->
    <section class="container-espaco-formulario">
        <div class="container-dupla-formulario">
            <div class="container-texto-solicitacao">
                <p class="texto-solicitacao">Nome</p>
                <input type="text" class="input-nome" placeholder="Digite o nome completo">
                <p class="texto-obrigatorio">Obrigatório*</p>
            </div>
        </div>

        <div class="container-texto-solicitacao">
            <p class="texto-solicitacao">Feedback</p>
            <input type="text" class="input-nome" placeholder="Digite um texto do feedback">
            <p class="texto-obrigatorio">Obrigatório*</p>
            <p class="texto-solicitacao">Exibir nome no comentário?</p>
            <div class="container-espaco-botao">
                <button class="container-estilo-botao">Sim</button>
                <button class="container-estilo-botao">Não</button>
                <p class="texto-obrigatorio">Obrigatório*</p>
            </div>
        </div>


        <!-- espaço cpf cadastro -->
        <div class="container-dupla-formulario">
            <div class="container-texto-solicitacao">
                <p class="texto-solicitacao">CPF</p>
                <input type="text" class="input-nome" placeholder="Digite sem pontuações">
                <p class="texto-obrigatorio">Obrigatório*</p>
            </div>
        </div>



        <section class="container-botoes-envio">
            <button class="container-estilo-botao-apagar">Apagar</button>
            <button class="container-estilo-botao-registrar">Registrar</button>
        </section>
    </section>

</main>