<section id="sobre-mim" class="container-sobreMim">

    <div class="container-quemSou">
        <h1 class="titulo-quemSou">Quem sou Eu?</h1>
        <div class="container-text-quemSou">
            <p class="text-quemSou">
                Sou a Ana, psicóloga e apaixonada por compreender o comportamento humano.
                Minha trajetória começou com a formação em Recursos Humanos, onde aprendi sobre gestão de
                pessoas e descobri mais sobre o comportamento humano, mas foi na Psicologia que encontrei meu
                propósito: ajudar pessoas a se conhecerem melhor e a construírem uma relação mais saudável
                consigo mesmas.
                <br><br>
                Acredito que o autoconhecimento é uma jornada contínua e que cada pessoa tem seu próprio ritmo.
                Assim como viajar nos permite explorar novos lugares, a terapia nos convida a explorar nossa
                própria história. Aqui, meu objetivo é oferecer um espaço seguro para que você possa refletir
                sobre suas emoções, desafios e possibilidades, sempre com acolhimento e sem julgamentos.
                Se você sente que é hora de olhar para si com mais cuidado e compreensão, estou aqui para te
                acompanhar nessa jornada.
            </p>
        </div>
    </div>

    <div class="container-curiosidades">
        <h1 class="titulo-curiosidades">Curiosidades</h1>
        <div class="container-img-curiosidades">
            <div class="container-imgAna">
                <img class="imgAna" src="../assets/imgAna.png" alt="Foto da psicóloga Ana">
            </div>
            <div class="container-text-curiosidades">
                <p>Paulistana</p>
                <p>Espaço seguro para acolhimento e autoconhecimento</p>
                <p>Formada em Psicologia e Recursos Humanos</p>
                <p>Apaixonada por compreender pessoas e histórias</p>
                <p>Apaixonada por gatos</p>
            </div>
        </div>
    </div>

</section>