<section id="duvidas" class="container-sessao-duvidas">
  <div class="container-titulo-duvidas">
    <h1 class="text-duvidas">Dúvidas</h1>
  </div>

  <div class="accordion-container">
    <div class="accordion-item" *ngFor="let duvida of duvidas; let i = index">
      <div class="accordion-header" (click)="toggle(i)">
        <p class="text-duvidas">{{ duvida.pergunta }}</p>
        <span class="accordion-icon">
          {{ activeIndex === i ? '−' : '+' }}
        </span>
      </div>

      <!-- Mostra a resposta somente se o índice for o ativo -->
      <div class="accordion-body" [ngClass]="{ 'show': activeIndex === i }">
        {{ duvida.resposta }}
      </div>
    </div>
  </div>
</section>
