<section class="containerFooter">

    <div class="footer">
        <div class="footer-top">
            <div class="containerLogo">
                <img class="logoFooter" src="../assets/logoPrincp.png" alt="Logo Psicóloga Ana Vitória!">
                <p class="nomeLogo">Ana Vitória Psicóloga</p>
            </div>
            <div class="menuFooter">
                <div class="menu-item">
                    <a href="#">
                        <p class="text-item">Início</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#sobreMim">
                        <p class="text-item">Sobre mim</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#sobreTerapia">
                        <p class="text-item">Sobre Terapia</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#depoimentos">
                        <p class="text-item">Depoimentos</p>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#duvidas">
                        <p class="text-item">Dúvidas</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="direitos-footer">
            <p class="text-direito">© 2025 Psicóloga Ana Vitória. Todos os direitos reservados. - Feito por Ana
                Julia Ferreira e Sthephany Viana</p>

            <div class="socialicons">
                <a href="https://www.instagram.com/psicologa.anavi/?igsh=MWU1c290cW9oYnlrNg%3D%3D#" target="_blank">
                    <img class="icon-instagram" src="../assets/icon-instagram.svg" alt="Ícone do Instagram">
                </a>

                <a href="https://api.whatsapp.com/send/?phone=5511978958874&text&type=phone_number&app_absent=0"
                    target="_blank">
                    <img class="icon-whatsapp" src="../assets/icon-whatsapp.svg" alt="Ícone do WhatsApp">
                </a>
            </div>
        </div>

    </div>

</section>