<main>
    <!-- Início da seção com ícone -->
    <section class="container-agendamento">
        <section class="container-espaco-agendamento">
            <div class="container-espaco-total-sub">
                <div class="container-sub-menu">
                    <div class="text-icone">
                        <img class="icone-sub-menu" src="../assets/icone-gerenciamento.png" alt="ícone de agenda" />
                    </div>
                    <div class="text-agenda-sub">
                        <h1>Gerenciamento</h1>
                    </div>
                    <div class="container-linha-separadora"></div>
                </div>
            </div>
        </section>
    </section>

    <div class="container-titulo-sessao">
        <div class="titulo-sessao">
            <h2>Registro de Dúvidas</h2>
        </div>
    </div>

    <!-- Formulário -->
    <section class="container-espaco-formulario">
        <div class="container-dupla-formulario">
            <div class="container-texto-solicitacao">
                <p class="texto-solicitacao">Dúvida</p>
                <input type="text" class="input-nome" placeholder="Digite a dúvida que deseja adicionar" />
                <p class="texto-obrigatorio">Obrigatório*</p>
            </div>
        </div>

        <div class="container-texto-solicitacao">
            <p class="texto-solicitacao">Resposta</p>
            <textarea class="input-nome" placeholder="Digite sua resposta" rows="4"></textarea>
            <p class="texto-obrigatorio">Obrigatório*</p>

            <p class="texto-solicitacao">Deixar essa dúvida visível?</p>
            <div class="container-espaco-botao">
                <button type="button" class="container-estilo-botao">Sim</button>
                <button type="button" class="container-estilo-botao">Não</button>
                <p class="texto-obrigatorio">Obrigatório*</p>
            </div>
        </div>
    </section>

    <!-- Botões de envio -->
    <section class="container-botoes-envio">
        <button type="reset" class="container-estilo-botao-apagar">Apagar</button>
        <button type="submit" class="container-estilo-botao-registrar">Registrar</button>
    </section>

</main>